<div id="tab-2" class="results-list--layout one-whole column medium-down--show {{ class }}">
  <div class="table-wrapper contanier-nw">
    <table class="results-view" id="table-id">
      <thead>
        <tr>
          <th class="sortable" data-sorting_field="shape" style="cursor: default;">Shape {% comment %}<i class="icon-solid-caret"></i>{% endcomment %}</th>
          <th class="sortable vdb-lb-sorting-th vdb-sorting_asc" data-sorting_field="carat">Carat <span>{% render 'icon-down-arrow' %}</span></th>
          <th class="sortable vdb-lb-sorting-th" data-sorting_field="cut">Cut <span>{% render 'icon-down-arrow' %}</span></th>
          <th class="sortable vdb-lb-sorting-th" data-sorting_field="color">Color <span>{% render 'icon-down-arrow' %}</span></th>
          <th class="sortable vdb-lb-sorting-th" data-sorting_field="clarity">Clarity <span>{% render 'icon-down-arrow' %}</span></th>
          <th class="sortable vdb-lb-sorting-th" data-sorting_field="price">Price <span>{% render 'icon-down-arrow' %}</span></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <div class="vdb-pagination-section-loadmore">
</div>
    <div class="vdb-load-more-div" style="text-align: center;margin: 2rem 0;display: none;">
      <div class="loading-block" style="background-color: transparent;"><div class="inner"><svg width="150" height="150" viewBox="0 0 150 150"><g fill="none" stroke="#777777" stroke-width="3" stroke-miterlimit="10"><path class="logo-1" d="M75.1880276 38.9158992l34.679749 35.443358-35.4419284 34.6783502-34.679749-35.443358z" stroke-width="3.00015"></path><path class="logo-2" d="M75.79 145.261l-50.697-20.185-21.575-50.12 20.184-50.697L73.823 2.684l50.699 20.184 21.573 50.12-20.186 50.697zM73.823 2.684l1.365 36.229m-.764 70.117l1.366 36.231m34.075-70.907l36.23-1.366M3.518 74.956l36.23-1.366m70.117.764l16.044 49.331M74.424 109.03l51.485 14.655M39.748 73.59l-14.655 51.486m49.331-16.046l-49.331 16.046M23.702 24.259L39.748 73.59M23.702 24.259l51.486 14.654m0 0l49.334-16.045m0 0l-14.657 51.486"></path></g></svg><header class="text-style-footnote">Loading Stones...<i></i></header></div></div>
    </div>
  </div> 
  
</div>


